body {
    margin: 0;
    padding: 0%;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F9F9F9;
    padding: 20px;
}

.logo-container {
    width: 20%;
    display: flex;
    justify-content: center;
}

nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-btn {
    width: 10%;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 0 30px;
}

#sign-in-btn {
    width: 121px;
    height: 43px;
    border: 2px solid #FFC1DC;
    border-radius: 100px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
}


section {
    height: 60vh;
    padding: 75px 20px;
}

/* hero banner section */
.banner-section {
    display: flex;
    flex-wrap: nowrap;
    height: 80vh;
    padding: 0 40px;
}

.banner-section > div {
    width: 50%
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
}

.hero-info h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    background: linear-gradient(90.79deg, #0048FF 3.42%, #D6008D 82.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero-info p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 36px;

    color: #555555;
}

#learn-more-btn {
    width: 200px;
    padding: 10px 30px;
    color: white;
    background: linear-gradient(238.41deg, #09153F 1.24%, #002BC2 57.38%);
    border-radius: 100px;
}
#learn-more-btn2 {
    width: 200px;
    padding: 10px 30px;
    color: blue;
    border-color: #0048FF;
    background:#F9F9F9;
    border-radius: 100px;
}

.hero-img {
    display: flex;
    align-items: center;
}

.hero-img img {
    width: 680px;
}

/* about section */


.about-container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    border-radius: 500px;
    background: #C4D4FF;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.about-container div:first-child {
    width: 30%;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px 0 0 500px;
}

.about-container div:last-child {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.about-container div:last-child p {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-style: 200;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.extra-section div:first-child {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-style: 200;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.title-section{
    height: 2vh;
    padding: 170px 100px;
    
}

.title h1{
    display: flex;
    justify-content: center;
    font-family: 'GT Walsheim Pro','Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #0048FF;
}



.service-section{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    border-radius: 0 500px 500px 0;
    background:  #FFF5FF;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.service-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 22px;
    margin-left: 200px;
}

.service-info h2{
font-family: 'GT Walsheim Pro', 'Arial';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
color: #002B9A;
}
.service-info p {
font-family: 'GT Walsheim Pro', 'Arial';
height: 142px;
width: 531px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #555555;
}

.service-image{
    display: flex;
    align-items: center;
}

.service-image img{
    margin-left: 100px;
}

.service-section2 > div {
    width: 50%;
}

.service-section2{
    display: flex;
    flex-wrap: nowrap;
    height: 80vh;
    padding: 0 40px;
    background: #F5F8FF;
}

.service-info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 22px;
    margin-left: 200px;
}

.service-image2 {
    display: flex;
    align-items: center;
}

.service-image2 img{
    margin-left: 200px;
}

.service-info2 h2{
    font-family: 'GT Walsheim Pro', 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #002B9A;
    }
.service-info2 p {
    font-family: 'GT Walsheim Pro', 'Arial';
    height: 142px;
    width: 531px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #555555;
    }


.servicemap-section > div {
    width: 50%;
}

.servicemap-section{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background:  #F9F9F9;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.servicemap-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 22px;
    margin-left: 200px;
}

.servicemap-info-section h2{
    font-family: 'GT Walsheim Pro', 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #002B9A;
}

.service-info ul {
    list-style-type:armenian;
    display: flex;
    flex-direction: column;
}

.service-info li {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 111px -54px;
}


footer{
width: 100%;
height: 100px;
left: 81px;
top: 4985.33px;
background: #333333;
}
.footer-paragraph{
width: 346px;
height: 23px;
left: 563.5px;
top: 5023.83px;

font-family: 'GT Walsheim Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
text-align: center;
margin: 0 30px;
}