.item1{
  background-color: #f9fd1d;
  grid-area: header;
  font-size: 30px;
}.item2{
  background-color: #fc0000;
  grid-area: menu;
  font-size: 30px;
}.item3{
  background-color: #fa14e7ec;
  grid-area: main;
  font-size: 30px;
}.item4{
  background-color: #00ff62f5;
  grid-area: right;
  font-size: 30px;
}.item5{
  background-color: #1100ff;
  grid-area: footer;
  font-size: 30px;
}
@media only screen and (min-width: 0px){
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.2fr;
    grid-template-areas:
      'header header header'
      'main main main'
      'footer footer footer';
    gap: 10px;
    padding: 10px;
  }

}
@media only screen and (min-width: 440px){
    .grid-container {
      display: grid;
      height: 100vh;
      grid-template-columns: 0.5fr 1fr 0.5fr;
      grid-template-rows: 0.2fr 1.5fr 0.2fr;
      grid-template-areas:
        'header header header'
        'main main right'
        'footer footer footer';
      gap: 10px;
      padding: 10px;
    }
    
  
}
@media only screen and (min-width: 1440px) {
  
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1.5fr 0.2fr;
    grid-template-areas:
      'menu header header'
      'menu main right'
      'menu footer footer';
    gap: 10px;
    padding: 10px;
  }
  
}
 