.grid-style-container
{
    display:grid;
    width: 1440px;
    height: 1024px;
    /* grid-template-columns: 0.2fr 0.5fr 0.2fr;
    grid-template-rows: 0.2fr 0.7fr 0.1fr; */
    grid-template-areas: 
    'header header header header header header'
    'menu main main main main right'
    'menu main main main main right'
    'menu main main main main right'
    'menu main main main main right'
    'menu footer footer footer footer footer';
    ;
    grid-gap: 0.2rem;

    font-size: 30px;
    font-weight: 200px;
    text-align: center;
}

.header
{
    display: grid;
    background-color: yellow;
    grid-area: header;
}

.menu
{
    display: grid;
    background-color: red;
    grid-area: menu;
}

.main
{
    display: grid;
    background-color: palevioletred;
    grid-area: main;
}

.right
{
    display: grid;
    background-color: green;
    grid-area: right;
}

.footer
{
    display: grid;
    background-color: blue;
    grid-area: footer;
}

@media screen and (max-width:1024px) {
    /* .grid-container
    {
        max-height: 1366px;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        grid-template-areas:
          "header header"
          "main right"
          "footer footer"
          ;
        
    } */
    div.grid-style-container {
        grid-template-areas:
            'header header header header header header header'
            'main main main main main right right'
            'main main main main main right right'
            'main main main main main right right'
            'main main main main main right right'
            'footer footer footer footer footer footer footer';
    }
    .menu {
        display: grid;
        background-color: red;
        grid-area: menu;
        display: none;
    }
    main.main {
        background-color: aquamarine;
    }
}



@media screen and (max-width:430px)
{
  /* .grid-container
  {
        grid-template-columns: 1fr ;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        grid-template-areas:
          "header"
          "main"
          "footer"
          ;
        
  } */
  menu.menu {
    display: none;
}

.right {
    display: grid;
    background-color: green;
    grid-area: right;
    display: none;
}
main.main {
    background-color: burlywood;
}
div.grid-style-container {
    grid-template-areas:
    'header header header'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'footer footer footer ';
}
}