body {
    margin: 0px;
}

header {
    background-color: #F9F9F9;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 15%;
}

img#sitelogo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.navs {
    width: 70%;
}

.signin {
    width: 15%;
}

ul {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

li#home {
    margin-right: 50px
}

li#about {
    display: flex;
    justify-content: center;
    margin-right: 50px
}

li#service {
    display: flex;
    justify-content: center;
    margin-right: 50px
}

li#servicemap {
    display: flex;
    justify-content: center;
    margin-right: 50px
}

li#contact {
    display: flex;
    justify-content: center;
    margin-right: 50px
}

nav#signinid {
    height: 30px;
    width: 100px;
    border-style: solid;
    border-color: #FFC1DC;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

section.firstSection {
    margin-top: 35px;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.sectionOneH1 {
    height: 40%;
}

.sectionOneParagraph {
    height: 40%;
}

.sectionOneLearnMore {
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(to right, #0048FF, #D6008D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
}

p#LoremIpsum {
    position: absolute;
    width: 583.91px;
    height: 134.13px;
    left: 80.75px;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
}

nav#learnmore {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 191px;
    height: 43px;
    left: 80.75px;
    top: 533.05px;
    background: linear-gradient(238.41deg, #09153F 1.24%, #002BC2 57.38%);
    border-radius: 100px;
}

nav#learnmore:after {
    font-size: 25px;
    vertical-align: middle;
    content: ' \2192';
    color:#B2BAFF;
}

.sectionH1Class {
    margin-left: 70px;
    width: 50%;
}

div#pngid {
    width: 50%;
}

img#personpic {
    height: 400px;
    width: 650px;
}
